//Colors
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(240, 67%, 8%);
$dark-gray: hsl(240, 17%, 26%);
$light-gray: hsl(240, 6%, 54%);

//Transparent Colors
$transparent-white-twenty: hsl(0, 0%, 100%, 20%);
$transparent-white-ten: hsl(0, 0%, 100%, 10%);

//Planets Colors
$mercury: hsl(194, 48%, 49%);
$venus: hsl(33, 82%, 61%);
$earth: hsl(263, 67%, 51%);
$mars: hsl(10, 63%, 51%);
$jupiter: hsl(2, 68%, 53%);
$saturn: hsl(17, 73%, 46%);
$uranus: hsl(169, 73%, 44%);
$neptune: hsl(222, 87%, 56%);

//Planets Colors Map
$colors-map: (
  mercury: $mercury,
  venus: $venus,
  earth: $earth,
  mars: $mars,
  jupiter: $jupiter,
  saturn: $saturn,
  uranus: $uranus,
  neptune: $neptune,
);

//Planet Colors Light
$mercury-light: hsl(196, 83%, 93%);
$venus-light: hsl(39, 88%, 73%);
$earth-light: hsl(238, 99%, 66%);
$mars-light: hsl(12, 100%, 64%);
$jupiter-light: hsl(27, 75%, 70%);
$saturn-light: hsl(40, 96%, 70%);
$uranus-light: hsl(168, 82%, 67%);
$neptune-light: hsl(222, 95%, 63%);

//Planets Colors Dropdown Map
$colors-light-map: (
  mercury: $mercury-light,
  venus: $venus-light,
  earth: $earth-light,
  mars: $mars-light,
  jupiter: $jupiter-light,
  saturn: $saturn-light,
  uranus: $uranus-light,
  neptune: $neptune-light,
);
