@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

//Font Families
$body-font-family: 'League Spartan';
$h1-font-family: 'Antonio';
$h2-font-family: 'Antonio';
$h3-font-family: 'League Spartan';
$h4-font-family: 'League Spartan';

//Font Sizes
$body-font-size: 0.875rem;
$h1-font-size: 5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 0.75rem;
$h4-font-size: 0.688rem;

//Font Weights
$body-font-weight: 400;
$h1-font-weight: 500;
$h2-font-weight: 500;
$h3-font-weight: 700;
$h4-font-weight: 700;

//Line Heights
$body-line-height: 1.563rem;
$h1-line-height: 6.438rem;
$h2-line-height: 3.25rem;
$h3-line-height: 1.563rem;
$h4-line-height: 1.563rem;

//Letter Spacings
$h2-letter-spacing: -1.5;
$h3-letter-spacing: 2.6;
$h4-letter-spacing: 1;
