@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');

@font-face {
  font-weight: 400;
  font-family: 'Spartan';
  src: url('assets/fonts/Spartan-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Spartan';
  src: url('assets/fonts/Spartan-Bold.woff2') format('woff2');
}

//Font Families
$spartan-font: 'Spartan';
$antonio-font: 'Antonio';

$body-font-family: $spartan-font;
$h1-font-family: $antonio-font;
$h2-font-family: $antonio-font;
$h3-font-family: $spartan-font;
$h4-font-family: $spartan-font;

//Font Sizes
$font-8: 0.5rem;
$font-9: 0.563rem;
$font-11: 0.688rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-15: 0.938rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-40: 2.5rem;
$font-48: 3rem;
$font-80: 5rem;

$body-font-size: $font-14;
$h1-font-size: $font-80;
$h2-font-size: $font-40;
$h3-font-size: $font-12;
$h4-font-size: $font-11;

//Font Weights
$spartan-regular: 400;
$antonio-medium: 500;
$spartan-bold: 700;

$body-font-weight: $spartan-regular;
$h1-font-weight: $antonio-medium;
$h2-font-weight: $antonio-medium;
$h3-font-weight: $spartan-bold;
$h4-font-weight: $spartan-bold;

//Line Heights
$line-height-16: 1rem;
$line-height-25: 1.563rem;
$line-height-22: 1.375rem;
$line-height-52: 3.25rem;
$line-heigth-103: 6.438rem;

$body-line-height: $line-height-25;
$h1-line-height: $line-heigth-103;
$h2-line-height: $line-height-52;
$h3-line-height: $line-height-25;
$h4-line-height: $line-height-25;

//Letter Spacings
$letter-spacing-minus-15: -0.094rem;
$letter-spacing-minus-09: 0.056rem;
$letter-spacing-minus-073: 0.046rem;
$letter-spacing-1: 0.063rem;
$letter-spacing-136: 0.085rem;
$letter-spacing-193: 0.121rem;
$letter-spacing-26: 0.163rem;

$h2-letter-spacing: $letter-spacing-minus-15;
$h3-letter-spacing: $letter-spacing-26;
$h4-letter-spacing: $letter-spacing-1;
