@use '../../../stylesheets/variables' as var;

.wrapper {
  width: 100%;
  display: none;
  height: 3.125rem;
  margin-bottom: 4rem;
  padding-inline: 1.5rem;
  border-top: 1px solid var.$transparent-white-twenty;
  border-bottom: 1px solid var.$transparent-white-twenty;
}

@media (width <= 720px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
