@use '../../../stylesheets/variables' as var;

.dropdownMenuWrapper {
  opacity: 0;
  width: 100%;
  display: none;
  padding-inline: 1.5rem;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms, padding-top 500ms, opacity 500ms;
}

.dropdownMenuActive {
  opacity: 1;
  padding-top: 1.5rem;
  grid-template-rows: 1fr;
}

.dropdownMenu {
  list-style: none;
}

.dropdownMenuWrapper > .dropdownMenu {
  overflow: hidden;
}

.dropdownMenu > :not(:last-child) {
  border-bottom: 1px solid var.$transparent-white-ten;
}

@media (width <= 720px) {
  .dropdownMenuWrapper {
    display: grid;
  }
}
